<div fxLayout=”row” fxLayoutAlign="start center">
  <h1 fxFlex>Liste der Nutzenden</h1>
  <button (click)="onAddButton()" fxFlex="initial"><fa-icon [icon]="faPlus"></fa-icon></button>
</div>

<app-dialog [headline] ="'Neuen Nutzenden anlegen'" #dialogNew>
  <form [formGroup]="profileFormNewUser">
    <div fxLayout="row" fxLayoutAlign="start center">
      <label fxFlex>Vorname:</label>
      <input fxFlex="initial" formControlName="newFirstname" placeholder="Alex">
  </div>
    <div>
      <label>Nachname:</label>
      <input formControlName="newLastname" placeholder="Mustermensch">
    </div>
    <div>
      <label>Username:</label>
      <input formControlName="newUsername" placeholder="musteralex">
    </div>
    <div>
      <label>Passwort:</label>
      <input formControlName="newPassword" type="password" placeholder="passwort">
    </div>
    <div><label>E-Mail:</label>
      <input placeholder="alex.mustermensch@sample.de" formControlName="newUserEmail">
    </div>
    <div><label>Rolle</label>
      <select formControlName="newRole">
        <option value="Admin">Admin</option>
        <option value="Lehrende">Lehrende</option>
        <option value="Lernende">Lernende</option>
      </select>
    </div>
  </form>
  <button [disabled]="!profileFormNewUser.valid" (click)="onAddNewUser()">Click me!</button>
</app-dialog>

<!--{{ users | json }} -->
<table>
  <tr>
    <th>ID</th>
    <th>Nachname</th>
    <th>Vorname</th>
    <th>Rolle</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let User of users">
    <td>{{User.userID}}</td>
    <td>{{User.lastname}}</td>
    <td>{{User.firstname}}</td>
    <td>{{User.rolle}}</td>
    <td (click)="onEditButton(User)" title="Nutzende editieren">
      <fa-icon [icon]="faPen"></fa-icon>
    </td>
    <td (click)="onDeleteUser(User.userID)" title="Nutzende löschen">
      <fa-icon [icon]="faTrash"></fa-icon>
    </td>
  </tr>
</table>



<app-dialog [headline] ="'Nutzenden editieren'" #dialogVar>
  <form [formGroup]="profileForm">
    <div fxLayout="row" fxLayoutAlign="start center">
      <label fxFlex>ID:</label>
      <input fxFlex="initial" formControlName="id">
    </div>
    <div>
      <label>Vorname:</label>
      <input formControlName="firstname">
    </div>
    <div>
      <label>Nachname:</label>
      <input formControlName="lastname">
    </div>
    <div>
      <label>Username:</label>
      <input formControlName="username">
    </div>
    <div>
      <label>Passwort:</label>
      <input formControlName="password" type="password">
    </div>
    <div><label>E-Mail:</label>
      <input formControlName="userEmail">
    </div>
    <div><label>Rolle:</label>
      <input formControlName="role">
    </div>
  </form>
  <button (click)="onEditUser()">Speichern</button>
</app-dialog>

<app-dialog #dialogDel>
  {{resultMessage}}
  <button (click)="dialogDel.closeDialog()">Ok</button>
</app-dialog>
