<h1>Liste der Nutzenden</h1>  <button (click)="onAddButton()">Click me!</button>

<app-dialog [headline] ="'Neuen Nutzenden anlegen'" #dialogNew>
  <form [formGroup]="profileFormNewUser">
    <div fxLayout="row" fxLayoutAlign="start center">
      <label fxFlex>Vorname:</label>
      <input fxFlex="initial" formControlName="newFirstname">
  </div>
    <div>
      <label>Nachname:</label>
      <input formControlName="newLastname">
    </div>
    <div>
      <label>Username:</label>
      <input formControlName="newUsername">
    </div>
    <div>
      <label>Passwort:</label>
      <input formControlName="newPassword" type="password">
    </div>
    <div><label>E-Mail:</label>
      <input formControlName="newUserEmail">
    </div>
  </form>
  <button [disabled]="!profileFormNewUser.valid" (click)="onAddNewUser()">Click me!</button>
</app-dialog>

<!--{{ users | json }} -->
<table>
  <tr>
    <th>ID</th>
    <th>Nachname</th>
    <th>Vorname</th>
    <th>Rolle</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let User of users">
    <td>{{User.userID}}</td>
    <td>{{User.lastname}}</td>
    <td>{{User.firstname}}</td>
    <td>{{User.rolle}}</td>
    <td>
      <fa-icon [icon]="faPen" (click)="onEditUser()" ></fa-icon>
      <fa-icon [icon]="faTrash" (click)="onDeleteUser()"></fa-icon>
    </td>
  </tr>
</table>



<app-dialog>
Formular
</app-dialog>

<app-dialog #dialogDel>
  {{resultMessage}}
  <button (click)="dialogDel.closeDialog()">Ok</button>
</app-dialog>
