<div fxLayout=”row” fxLayoutAlign="start center">
  <h1 fxFlex>Liste der Klassen</h1>
  <button (click)="onAddButton()" fxFlex="initial"><fa-icon [icon]="faPlus"></fa-icon></button>
</div>

<app-dialog [headline] ="'Neue Klasse anlegen'" #dialogNew>
  <form [formGroup]="profileFormNewClass">
    <div fxLayout="row" fxLayoutAlign="start center">
      <label fxFlex>Klassenname:</label>
      <input fxFlex="initial" formControlName="klassenName" placeholder="1999a">
    </div>
  </form>
  <button (click)="onAddNewClass()">Speichern</button>
</app-dialog>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <ng-container *ngFor="let Classes of classes; let i = index">
    <tr>
      <td>{{Classes.klassenID}}</td>
      <td>{{Classes.klassenName}}</td>
      <td  title="Klasse editieren" (click)="onEditButton(Classes)">
        <fa-icon [icon]="faPen"></fa-icon>
      </td>
      <td  title="Schüler*in zuweisen" (click)="onAddStudentButton(Classes.klassenID)">
        <fa-icon [icon]="faUserPlus"></fa-icon>
      </td> <!--(click)="onEditUser(User)"-->
      <td  title="Fach hinzufügen">
      <fa-icon [icon]="faFolderPlus" (click)="onAddSubjectButton(Classes.klassenID)"></fa-icon>
      </td>  <!--(click)="onDeleteUser()"-->
      <td  title="Klasse löschen" (click)="onDeleteButton(Classes)">
        <fa-icon [icon] = "faTrash"></fa-icon>
      </td>
      <td (click)="onExpandingCard(i)">
        <fa-icon [icon] = "cardsExpanded[i] ? faAngleUp : faAngleDown" ></fa-icon>
        {{ cardsExpanded[i] ? 'Weniger anzeigen' : 'Mehr anzeigen' }}
      </td>
    </tr>
    <tr *ngIf="cardsExpanded[i]">
      <td colspan="7">
        Schüler
        <div fxLayout="row wrap" fxLayoutGap="0.25em">
          <div *ngFor="let Student of Classes.students" fxFlex="initial" class="chips">
          {{Student.firstname + " " +Student.lastname + " "}}
            <fa-icon [icon]="faUserMinus" (click) ="onRemoveStudentButton(Student)"></fa-icon>
          </div>
        </div>
        Fächer
        <div fxLayout="row wrap" fxLayoutGap="0.25em">
          <div *ngFor="let Subject of Classes.subjects" fxFlex="initial" class="chips">
            {{Subject.subjectName }}
            <fa-icon [icon]="faUserMinus" (click) ="onRemoveSubjectButton(Subject)"></fa-icon>
          </div>
        </div>
      </td>
    </tr>
  </ng-container>
</table>

<app-dialog [headline] ="'Klasse editieren'" #dialog>
  <form [formGroup]="profileForm">
    <div fxLayout="row" fxLayoutAlign="start center">
      <label fxFlex>ID:</label>
      <input fxFlex="initial" formControlName="klassenID">
    </div>
    <div>
      <label fxFlex>Klassenname:</label>
      <input fxFlex="initial" formControlName="klassenName">
    </div>
  </form>
  <button (click)="onEditClass()">Speichern</button>
</app-dialog>

<app-dialog [headline]="'Klasse löschen'" #dialogDel>
  <form [formGroup]="profileFormDel">
    <div fxLayout="row" fxLayoutAlign="start center">
      <label fxFlex>ID:</label>
      <input fxFlex="initial" formControlName="delklassenID">
    </div>
    <div>
      <label fxFlex>Klassenname:</label>
      <input fxFlex="initial" formControlName="delklassenName">
    </div>
  </form>
  <div>Wollen Sie diese Klasse wirklich löschen?</div>
  <button (click)="onDeleteClass()">Löschen</button>
  <button (click)="dialogDel?.closeDialog();">Abbrechen</button>
</app-dialog>

<app-dialog [headline] ="'Schüler hinzufügen'" #dialogAddStudent>
  <form [formGroup]="profileFormAddStudent">
    <div>
      <label>ID</label>
      <select formControlName="userID">
        <option *ngFor="let Student of studentsList" [value]="Student.userID">
          {{ Student.userID }} ({{ Student.firstname }} {{ Student.lastname }})
        </option>
      </select>
    </div>
  </form>
  <button [disabled]="!profileFormAddStudent.valid" (click)="onAddStudent()">Click me!</button>
</app-dialog>

<app-dialog [headline]="'Achtung'" #dialogRemoveStudent>
  <div>
    Wollen sie diesen Lehrenden von der Klasse entfernen?
  </div>
  <form [formGroup]="profileFormRemoveStudent">
    <div fxLayout="row" fxLayoutAlign="start center">
      <label fxFlex>ID:</label>
      <input fxFlex="initial" formControlName="userID">
    </div>
    <div>
      <label fxFlex>Nachname:</label>
      <input fxFlex="initial" formControlName="lastname">
    </div>
    <div>
      <label fxFlex>Vorname:</label>
      <input fxFlex="initial" formControlName="firstname">
    </div>
  </form>
  <button (click)="onRemoveStudent()">Löschen</button>
  <button (click)="dialogRemoveStudent?.closeDialog();">Abbrechen</button>
</app-dialog>

<app-dialog [headline]="'Achtung'" #dialogRemoveSubject>
  <div>
    Wollen sie dieses Fach von der Klasse entfernen?
  </div>
  <form [formGroup]="profileFormRemoveSubject">
    <div fxLayout="row" fxLayoutAlign="start center">
      <label fxFlex>ID:</label>
      <input fxFlex="initial" formControlName="subjectID">
    </div>
    <div>
      <label fxFlex>Name:</label>
      <input fxFlex="initial" formControlName="subjectName">
    </div>
  </form>
  <button (click)="onRemoveSubject()">Löschen</button>
  <button (click)="dialogRemoveSubject?.closeDialog();">Abbrechen</button>
</app-dialog>

<app-dialog [headline] ="'Fach hinzufügen'" #dialogAddSubject>
  <form [formGroup]="profileFormAddSubject">
    <div>
      <label>ID</label>
      <select formControlName="subjectID">
        <option *ngFor="let Subject of subjectsList" [value]="Subject.subjectID">
          {{ Subject.subjectID }} ({{ Subject.subjectName}})
        </option>
      </select>
    </div>
  </form>
  <button [disabled]="!profileFormAddSubject.valid" (click)="onAddSubject()">Click me!</button>
</app-dialog>
