<h1>Liste der Fächer</h1>

<table>
  <tr>
    <th>Klassen-ID</th>
    <th>Name</th>
    <th>Klasse</th>
    <th>Lehrer</th>
    <th>Archiviert</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let Subjects of subjects">
    <td>{{Subjects.subjectID}}</td>
    <td>{{Subjects.subjectName}}</td>
    <td>{{Subjects.klasse}}</td>
    <td>{{Subjects.teacher}}</td>
    <td>{{Subjects.archived}}</td>
    <td>
      <fa-icon [icon]="faPen"></fa-icon> editieren
    </td>
    <td>
      <fa-icon [icon]="faFolderPlus"></fa-icon> hinzufügen
    </td>  <!--(click)="onEditUser(User)" -->
    <td>
      <fa-icon [icon]="faArchive" ></fa-icon> archivieren
    </td>
    <td>
      <fa-icon [icon]="faTrash" ></fa-icon> löschen
    </td>
  </tr>
</table>
