<h1>Liste der Fächer</h1>

<table>
  <tr>
    <th>Klassen-ID</th>
    <th>Name</th>
    <th>Klasse</th>
    <th>Lehrer</th>
    <th>Archiviert</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let Subjects of subjects">
    <td>{{Subjects.subjectID}}</td>
    <td>{{Subjects.subjectName}}</td>
    <td>{{Subjects.className}}</td>
    <td>{{Subjects.teacherName}}</td>
    <td>{{Subjects.archived}}</td>
    <td title="Fach editieren" (click)="onEditButton(Subjects)" #dialogEditSubject>
      <fa-icon [icon]="faPen"></fa-icon>
    </td>
    <td title="Fach hinzufügen">
      <fa-icon [icon]="faFolderPlus"></fa-icon>
    </td>  <!--(click)="onEditUser(User)" -->
    <td titel="Fach archivieren">
      <fa-icon [icon]="faArchive" ></fa-icon>
    </td>
    <td title="löschen">
      <fa-icon [icon]="faTrash" ></fa-icon>
    </td>
  </tr>
</table>

<app-dialog [headline]="'Fach editieren'" #dialogEditSubject>
  <form [formGroup]="profileFormEditSubject">
    <div fxLayout="row" fxLayoutAlign="start center">
      <label fxFlex>ID:</label>
      <input fxFlex="initial" formControlName="subjectID">
    </div>
    <div>
      <label fxFlex>Name des Faches:</label>
      <input fxFlex="initial" formControlName="subjectName">
    </div>
  </form>
  <button (click)="onEditSubject()">Speichern</button>
</app-dialog>
