/* You can add global styles to this file, and also import other style files */
body{
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background: #e5dc2c;
  color: #0e384c;
  font-family: sans-serif;

}

.close {
  margin: 0.5em;
  display:block;
  text-align: right;
}

h1{
  text-decoration: underline;
  text-underline-position: under;
  font-weight: normal;
  text-decoration-thickness: 3px;
}

table{
  text-align: left;
  border-collapse: collapse;
  background: white;
}
td, th{
  padding: 0.5em;
  padding-right: 2em;
  padding-left: 1em;
  border-right: thin solid #0e384c;
}

td:last-child, th:last-child {
  border-right: none;
}

tr:nth-child(even){
  background:#CFD7DB;
}
