/* You can add global styles to this file, and also import other style files */
body{
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background: #e5dc2c;
  color: #0e384c;
  font-family: sans-serif;

}
.html{

}
